@{
    ViewBag.Title = "CreateQuiz";
}
<div ng-controller="quizController as quizCtrl">
    <div class="jumbotron">
        <table ng-cloak class="table-responsive table-striped table-hover table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Question</th>
                    <th>Answer 1</th>
                    <th>Answer 2</th>
                    <th>Answer 3</th>
                    <th>Answer 4</th>
                    <th>Correct Answer</th>
                    <th colspan="2"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#newQuestion">New Question</button></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="quiz in quizCtrl.quizList">
                    <td>{{quiz.Id}}</td>
                    <td>{{quiz.Category}}</td>
                    <td>{{quiz.Question}}</td>
                    <td>{{quiz.Answer1}}</td>
                    <td>{{quiz.Answer2}}</td>
                    <td>{{quiz.Answer3}}</td>
                    <td>{{quiz.Answer4}}</td>
                    <td>{{quiz.Correct}}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editQuestion" ng-click="quizCtrl.editButton(quiz.Id)">Edit</button>
                        <button class="btn-danger btn-sm" ng-click="quizCtrl.deleteButton(quiz.Id, $index)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- Edit Modal -->
    <div id="editQuestion" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Question</h4>
                </div>
                <div class="modal-body">
                    <form name="newQuestion" ng-submit="quizCtrl.editSubmit(newQuestion.$valid)" novalidate>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select ng-model="quizCtrl.newQuiz.Category" required class="form-control" name="category">
                                <option value="CSharp">C#</option>
                                <option value="Javascript">Javascript</option>
                                <option value="Sql">Sql</option>
                                <option value="Css">Css</option>
                            </select>
                            <p ng-show="newQuestion.Category.$invalid && !newQuestion.Category.$pristine" class="help-block">Category is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="question">Question:</label>
                            <input ng-model="quizCtrl.newQuiz.Question" required type="text" class="form-control">
                            <p ng-show="newQuestion.Question.$invalid && !newQuestion.Question.$pristine" class="help-block">Question is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer1">Answer 1:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer1" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer1.$invalid && !newQuestion.Answer1.$pristine" class="help-block">Answer 1 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer2">Answer 2:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer2" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer2.$invalid && !newQuestion.Answer2.$pristine" class="help-block">Answer 2 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer3">Answer 3:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer3" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer3.$invalid && !newQuestion.Answer3.$pristine" class="help-block">Answer 3 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer4">Answer 4:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer4" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer4.$invalid && !newQuestion.Answer4.$pristine" class="help-block">Answer 4 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="correct">Correct Answer:</label>
                            <select ng-model="quizCtrl.newQuiz.Correct" required class="form-control" name="correct">
                                <option value="1">Answer 1</option>
                                <option value="2">Answer 2</option>
                                <option value="3">Answer 3</option>
                                <option value="4">Answer 4</option>
                            </select>
                            <p ng-show="newQuestion.Correct.$invalid && !newQuestion.Correct.$pristine" class="help-block">Correct Answer is required.</p>
                        </div>
                        <button ng-disabled="newQuestion.$invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- New Modal -->
    <div id="newQuestion" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create New Question</h4>
                </div>
                <div class="modal-body">
                    <form name="newQuestion" ng-submit="quizCtrl.newButton(newQuestion.$valid)" novalidate>
                        <div class="form-group">
                            <label for="category">Category:</label>
                            <select ng-model="quizCtrl.newQuiz.Category" required class="form-control" name="category">
                                <option value="CSharp">C#</option>
                                <option value="Javascript">Javascript</option>
                                <option value="Sql">Sql</option>
                                <option value="Css">Css</option>
                            </select>
                            <p ng-show="newQuestion.Category.$invalid && !newQuestion.Category.$pristine" class="help-block">Category is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="question">Question:</label>
                            <input ng-model="quizCtrl.newQuiz.Question" required type="text" class="form-control">
                            <p ng-show="newQuestion.Question.$invalid && !newQuestion.Question.$pristine" class="help-block">Question is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer1">Answer 1:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer1" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer1.$invalid && !newQuestion.Answer1.$pristine" class="help-block">Answer 1 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer2">Answer 2:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer2" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer2.$invalid && !newQuestion.Answer2.$pristine" class="help-block">Answer 2 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer3">Answer 3:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer3" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer3.$invalid && !newQuestion.Answer3.$pristine" class="help-block">Answer 3 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="answer4">Answer 4:</label>
                            <input ng-model="quizCtrl.newQuiz.Answer4" required type="text" class="form-control">
                            <p ng-show="newQuestion.Answer4.$invalid && !newQuestion.Answer4.$pristine" class="help-block">Answer 4 is required.</p>
                        </div>
                        <div class="form-group">
                            <label for="correct">Correct Answer:</label>
                            <select ng-model="quizCtrl.newQuiz.Correct" required class="form-control" name="correct">
                                <option value="1">Answer 1</option>
                                <option value="2">Answer 2</option>
                                <option value="3">Answer 3</option>
                                <option value="4">Answer 4</option>
                            </select>
                            <p ng-show="newQuestion.Correct.$invalid && !newQuestion.Correct.$pristine" class="help-block">Correct Answer is required.</p>
                        </div>
                        <button ng-disabled="newQuestion.$invalid" type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/mainApp.js"></script>
<script src="~/Scripts/mainService.js"></script>
<script src="~/Scripts/quizController.js"></script>