@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Code Quiz</h1>
    <p class="lead">Code Quiz is a platform for you to test your knowledge!</p>
    <p>You can create your own quiz or use one of the quizzes already created.
    This is a work in progress. I'll be continuously updating it as I have time.
    Head over to the Quizzes tab to take a quiz or create your own!</p>
</div>

<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/mainApp.js"></script>
<script src="~/Scripts/mainService.js"></script>

