@{
    ViewBag.Title = "Quizzes";
}

<div ng-controller="takeQuizController as takeCtrl">
    <div class="jumbotron">
        <p>Have quiz taking functionality on this page</p>
        <p>Pop up modal or just select to choose what type of quiz (C#, javascript etc.)</p>
        <p>Have buttons on right for all quiz questions and give options to skip ahead</p>
        <p>Start out with just taking one quiz question at a time in order</p>
    </div>
    <div class="jumbotron">

    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/mainApp.js"></script>
<script src="~/Scripts/mainService.js"></script>
<script src="~/Scripts/takeQuizController.js"></script>
