@{
    ViewBag.Title = "Quizzes";
}

<div class="jumbotron">
    <p>Have quiz taking functionality on this page</p>
    <p>Pop up modal or just select to choose what type of quiz (C#, javascript etc.)</p>
    <p>Have buttons on right for all quiz questions and give options to skip ahead</p>
    <p>Start out with just taking one quiz question at a time in order</p>
</div>
