@{
    ViewBag.Title = "Quizzes";
}

<div ng-controller="takeQuizController as takeCtrl">
    <div class="jumbotron">
        Please Select Type of Quiz You Would Like To Take
        <form name="quizCategory">
            <select ng-model="takeCtrl.quizType">
                <option value="CSharp">C#</option>
                <option value="Javascript">JS</option>
                <option value="Sql">Sql</option>
                <option value="Css">Css</option>
            </select>
            <button class="btn btn-primary" ng-click="takeCtrl.quizChoose()" type="submit">Submit</button>
        </form>
        
    </div>
    <div class="jumbotron">
        <quiz-card-directive ng-show="takeCtrl.quizType"></quiz-card-directive>
        <question-track-directive ng-show="takeCtrl.quizType"></question-track-directive>
    </div>
</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/mainApp.js"></script>
<script src="~/Scripts/mainService.js"></script>
<script src="~/Scripts/takeQuizController.js"></script>
<script src="~/Scripts/Directive/quizCardDirective.js"></script>
<script src="~/Scripts/Directive/questionTrackDirective.js"></script>
