<div class="panel panel-primary">
    <div class="panel-heading">
        <strong ng-show="takeCtrl.questionSelected">Question {{takeCtrl.questionSelected.Id}}</strong>
    </div>
    <!--Panel body for question-->
    <div class="panel-body">
        <strong>{{takeCtrl.questionSelected.Question}}</strong> <hr/>
        <form>
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="1"> A: </label> {{takeCtrl.questionSelected.Answer1}} <hr />
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="2"> B: </label> {{takeCtrl.questionSelected.Answer2}} <hr />
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="3"> C: </label> {{takeCtrl.questionSelected.Answer3}} <hr />
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="4"> D: </label> {{takeCtrl.questionSelected.Answer4}}
        </form>
    </div>
    <!--Footer with buttons-->
    <div class="panel-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <button ng-click="takeCtrl.submitAnswer()" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-2 text-right">
                    <button ng-click="takeCtrl.previousQuestion()" class="btn btn-primary">Previous</button>
                </div>
                <div class="col-sm-2 text-right">
                    <button ng-click="takeCtrl.nextQuestion()" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>