<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>Question [i]</strong>
    </div>
    <div class="panel-body">
        <strong>{{takeCtrl.quizList[0].Question}}</strong> <hr/>
        <form>
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="1"> A: </label> {{takeCtrl.quizList[0].Answer1}} <hr />
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="2"> B: </label> {{takeCtrl.quizList[0].Answer2}} <hr />
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="3"> C: </label> {{takeCtrl.quizList[0].Answer3}} <hr />
            <label><input ng-model="takeCtrl.answerSelected" type="radio" name="optradio" value="4"> D: </label> {{takeCtrl.quizList[0].Answer4}}
        </form>
    </div>
    <div class="panel-footer">
        <button ng-click="takeCtrl.submitAnswer()" class="btn btn-primary">Submit</button>
        <!-- For each question have a icon for that question to skip ahead to it (Add directive for this) -->
    </div>
</div>